/* General declarations */
body {
	font-family: Verdana,'Vera Sans',sans-serif;
}

.centered {
	width: 70%;
	margin: 0 auto;
}

.chapter {
	border-bottom: 1px solid #CCCCCC;
	border-radius: 18px 18px 18px 18px;
	box-shadow: 0 15px 15px -5px #FF8800;
	padding: 15px;
}

.faq-text {
	display: none;
}

.faq-closed:before {
	content: "►"
}

.faq-open:before {
	content: "▼"
}

.faq-headline {
	cursor: pointer;
	color: #555;
}

.faq-headline:hover {
	color: #FF8800;
}

.support-mail {
	text-decoration: none;
	color: black;
}

.source-link {
	font-size: smaller;
	text-align: center;
}

a,
a:active {
	text-decoration: none;
	color: #555;
}

a:hover {
	text-decoration: none;
	color: #FF8800;
}

.button {
	display: inline-block;
	line-height: 1;
	padding: 20px 30px;
	margin: 10px;
	text-decoration: none;
	font-weight: bold;
	font-size: 36px;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	color: #fff;
	background-image: linear-gradient(to bottom, #ff8800, #ffc880);
	border-radius: 10px;
	box-shadow: 3px 3px 5px 6px #ccc;
	transition: background-image 0.5s linear 2s;
}

.button:hover,
.button:focus,
.button:active {
	background-image: linear-gradient(to bottom, #ff9900, #ffd980);
}

input.button, button.button {
	border: 0px none;
}

input[type=text] {
	border: 1px solid #FF8800;
}

input[type=text]:focus {
	border: 2px solid #FF8800;
}

h1,
h2,
h3,
h4 {
	color: #FF8800;
}

div#button-panel {
	text-align: center;
}

div#header div#nav li a,
div#header div#nav li a:active {
	transition: color 0.25s linear 0s;
	color: #555;
	font-size: 14pt;
	padding: 0 1pc;
	text-decoration: none;
	font-weight: bold;
}

div#header div#nav li {
	display: inline-block;
}

div#header div#nav li a:hover,
div#header div#nav li a:focus {
	color: #FF8800;
}

div#content {
	line-height: 1.5;
}

div#logo {
	background: url("../img/pp_logo.png") no-repeat scroll 0 center #fff;
	float: left;
	height: 90px;
	width: 242px;
	margin-left: 6pt;
	display: table-cell;
}

div#header {
	height: 90px;
	display: table;
}

div#header div#nav {
	display: table-cell;
	vertical-align: middle;
}

div#header div#nav ul {
	margin:0 auto;
	padding: 0 0 0 10px;
}

/* Mobile view */
@media screen and (max-width: 800px) {
	.centered {
		width: 100%;
		margin: 0;
	}
	
	div#header {
		height: 80px;
	}
	
	div#header div#logo {
		background: url("../img/flagge.png") no-repeat scroll 0 center #fff;
		width: 58px;
		height: 80px;
	}
	
	.chapter {
		border-bottom: 1px solid #CCCCCC;
		border-radius: 0px;
		box-shadow: none;
		padding: 0px;
	}
}